body {
  background-color: burlywood;
}
#c1 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c2 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c3 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c4 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c5 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c6 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c7 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c8 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c9 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c10 {
  background-color: white;
  border-style: solid;
  height: 50px
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c11 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c12 {
  background-color: white;
  border-style: solid;
  height: 50px;
  text-align: center;
  padding: 50px;
}
#container {
  display: flex;
  flex-wrap: nowrap;
  background-color: aquamarine;
  width: 1750px;
}
