body {
  background-color: burlywood;
}
#c1 {
  background-color: white;
  border-style: solid;

  width: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c2 {
  background-color: white;
  border-style: solid;
  width: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c3 {
  background-color: white;
  border-style: solid;

  width: 50px;
  text-align: center;
  padding: 50px;
  margin-right: 30px;
}
#c4 {
  background-color: white;
  border-style: solid;
  width: 50px;
  text-align: center;
  padding: 50px;
}
#container {
  display: flex;
  align-items: stretch;
  height: 500px;
  background-color: aquamarine;
}
