#c1 {
  background-color: white;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 50px;
}
#c2 {
  background-color: white;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 50px;
}
#c3 {
  background-color: white;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 50px;
}
#c4 {
  background-color: white;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 50px;
}
#container {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
body {
  background-color: burlywood;
}
